# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
build/
dist/
*.egg-info/

# --- Azure Functions (Crucial) ---
# Contém suas Connection Strings e chaves reais. NUNCA suba este arquivo!
local.settings.json
# Arquivos de extensões baixadas localmente
bin/
obj/

# --- VS Code ---
.vscode/
# Se você quiser manter as recomendações de extensões, comente a linha abaixo
# !.vscode/extensions.json

# --- Environment Variables ---
.env
.secret

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log
